<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AppMock</title>
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1637704_udrde4pnwcg.css">
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
        <script>
            require("module").globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, "\\\\") %>')
        </script>
    <% } %>

</head>
<body>
<div id="app"></div>
<!-- Set `__static` path to static files in production -->
<!-- webpack builds are automatically injected -->
</body>
</html>
