<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AppMock</title>
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1637704_tpcmlo5rfbf.css">
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
        <script>
            require("module").globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, "\\\\") %>')
        </script>
    <% } %>

</head>
<body style="margin: 0;">
<div id="app"></div>
</body>
</html>
